body {
    font-family: Arial;
    background: linear-gradient(
        45deg,
        oklab(89.5% -0.041 -0.045),
        oklab(90.7% 0 0),
        oklab(92.1% 0.015 0.067),
        oklab(85.3% 0.075 -0.005)
    );
    padding: 20px;
}

/* container */
.container {
    max-width: 900px;
    margin: auto;
}

.actions-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1000px;
    margin: 10px auto;
    padding: 20px;
    justify-content: space-around;
    --angle: 45deg;
    background: linear-gradient(
        var(--angle),
        #87ceeb,
        #a7d7e8,
        #add8e6,
        #e0ffff,
        #ffffff
    );
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
    border: 1px solid #000;
}

.action-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #fff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* ألوان احترافية */

.pdf-btn {
    background: linear-gradient(45deg, #c0392b, #e74c3c);
}

.scan-btn {
    background: linear-gradient(45deg, #16a085, #1abc9c);
}

.clear-btn {
    background: linear-gradient(45deg, #7f8c8d, #95a5a6);
}

/* Hover effect */
.action-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* أيقونات */
.action-btn i {
    font-size: 12px;
}
.article-form,
.form-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    margin: 10px auto;
    padding: 20px;
    max-width: 1000px;
    border: 1px solid #000;
    border-radius: 10px;
    background: linear-gradient(45deg, #34495e, #e74c3c, #f39c12, #ecf0f1);
    color: #ffff;
    margin-bottom: 20px;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.form-info {
    display: none;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 60px;
}

.form-group.small {
    flex: 1 1 60px;
}

.form-group label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.form-group input {
    padding: 12px 20px;
    box-shadow:
        rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    height: 30px;
    border-radius: 7px;
    text-align: center;
}

.group-input {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.group-input input {
    width: 80% !important;
}

.add-btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: #0d6efd;
    color: #fff;
    border: solid 1px #000;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
    font-size: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.add-btn i {
    margin-left: 20px;
    color: #d5cbcb;
    font-size: 22px;
}

.add-btn:hover {
    background-color: #084298;
}

/* cards */
.cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1.97in);
    justify-content: center;
    gap: 20px;
}

/* card */
.card {
    width: 1.96in;
    height: 1.22in;
    background: white;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border: solid 1px #000;
}

.top {
    font-size: 7px;
    padding: 3px;
}

.title {
    width: 95%;
    height: 13px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 13px;
    font-weight: 700;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    height: 25px;
}

/* barcode */
.barcode {
    height: 20px;
    width: 55%;
    margin-right: 5px;
    background: repeating-linear-gradient(
        to right,
        black,
        black 1px,
        white 1px,
        white 2px
    );
}
.barcode2 {
    margin-right: 10px;
    font-size: 12px;
}

#data {
    font-size: 9px;
    margin-left: 10px;
}

.bottom {
    background: #2aaae2;
    text-align: center;
    font-size: 25px;
    height: 10mm;
    display: flex;
    justify-content: center;
    align-items: end;
    font-weight: 600;
}

/* actionss */
.actionss {
    position: absolute;
    top: 0;
    right: 0;
}

.actionss button {
    font-size: 10px;
    padding: 2px 5px;
    border: none;
}

/* scanner */
#reader {
    width: 100%;
    margin-top: 15px;
}
/* From Uiverse.io by Yaya12085 */
.card-alert {
    width: 320px;
    border-width: 1px;
    border-color: rgba(219, 234, 254, 1);
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 1);
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 9999999;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 1rem;
    gap: 1rem;
}

.icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: rgba(96, 165, 250, 1);
    padding: 0.5rem;
    color: rgba(255, 255, 255, 1);
}

.icon svg {
    height: 1rem;
    width: 1rem;
}

.alert {
    font-weight: 600;
    color: rgba(107, 114, 128, 1);
}

.message {
    margin-top: 1rem;
    color: rgba(107, 114, 128, 1);
    text-align: center;
}

.actions {
    margin-top: 1.5rem;
}

.actions a {
    text-decoration: none;
}

.read {
    display: inline-block;
    border-radius: 0.5rem;
    width: 90%;
    padding: 0.75rem 1.25rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
}

.read {
    background-color: rgba(59, 130, 246, 1);
    color: rgba(255, 255, 255, 1);
}
#pagination {
    margin-top: 30px;
    text-align: center;
}
.pageInfo {
    font-size: 16px;
    font-weight: 900;
}
#pagination button {
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
    border: solid 1px #000;
    background: #83abbe;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container-scan {
    width: 100%;
    height: 200px;
    z-index: -9999999;
    position: fixed;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#reader {
    width: 80vw;
    max-width: 320px;
    background: black;
    border-radius: 16px;
    overflow: hidden;
    display: none;
    z-index: 1000011;
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 30px 60px,
        rgba(0, 0, 0, 0.3) 0px 15px 30px;
}
/* زر الإغلاق */
.fermer {
    position: fixed;
    top: 7%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border: none;
    outline: none;
    display: none;
    z-index: 10001;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

@media only screen and (min-width: 349px) and (max-width: 360px) {
    .container {
        zoom: 0.6 !important;
    }
    .article-form,
    .form-info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
        margin: 10px auto;
        padding: 10px;
        width: 90%;
        border: 1px solid #000;
        border-radius: 10px;
        background: linear-gradient(45deg, #34495e, #e74c3c, #f39c12, #ecf0f1);
        color: #ffff;
        margin-bottom: 20px;
        box-shadow:
            rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
    .form-info {
        display: none;
    }
    .form-group input {
        padding: 8px;
        box-shadow:
            rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
            rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
            rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        font-size: 13px;
        font-weight: 600;
        border-radius: 4px;
        height: 30px;
        border-radius: 7px;
    }
    .containeer {
        zoom: 1 !important;
    }
}
@media only screen and (min-width: 361px) and (max-width: 599px) {
    .container {
        zoom: 0.7 !important;
    }
    .actions-container button {
        font-size: 15px !important;
    }
    .actions-container button i {
        font-size: 16px !important;
    }
    .article-form,
    .form-info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
        margin: 10px auto;
        padding: 10px;
        width: 90%;
        border: 1px solid #000;
        border-radius: 10px;
        background: linear-gradient(45deg, #34495e, #e74c3c, #f39c12, #ecf0f1);
        color: #ffff;
        margin-bottom: 20px;
        box-shadow:
            rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
    .form-info {
        display: none;
    }
    .form-group input {
        padding: 8px;
        box-shadow:
            rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
            rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
            rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        font-size: 13px;
        font-weight: 600;
        border-radius: 4px;
        height: 30px;
        border-radius: 7px;
    }
    .containeer {
        zoom: 1 !important;
    }
}
@media only screen and (min-width: 599px) and (max-width: 990px) {
    .containeer {
        zoom: 1.1 !important;
    }
}
@media only screen and (min-width: 1020px) {
    .containeer {
        zoom: 1.1 !important;
    }
    
}
