body {
  font-family: 'Tahoma', sans-serif;
  background-color: #f5f5f5;
  direction: rtl;
  display: flex;
  justify-content: center;
}

.a4-wrapper {
  width: 21cm; /* تعادل تقريبًا 21cm */
  min-height: 29.7cm; /* تعادل تقريبًا 29.7cm */
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  
}
.container {
  max-width: 550px;
  background-color: white;
  padding: 0 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
  color: #333;
}
label {
  font-weight: bold;
}
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
button {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}
.calc {
  background: blue;
}

button:hover {
  background-color: #218838;
}
.invoice {
  background-color: #f9f9f9;
  position: relative;
  text-align: center;
}
.invoice h3 {
  margin-top: 0;
  color: #555;
}
.result {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
}
.logo {
  width: 150px;
  margin-bottom: 35px;
}
.datetime {
  font-size: 15px;
  color: #db00ff;
  font-weight: 900;
  margin-bottom: 20px;
}
#inv-seller,
#inv-code,
#inv-width,
#inv-length,
#inv-area,
#inv-price {
  color: #150080;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
}
.signature-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  font-family: 'Arial', sans-serif;
}

.signature-table th,
.signature-table td {
  border: 1px solid #444;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  width: 40%;
}

.signature-table th {
  background-color: #f2f2f2;
}

.input-line,
.signature-line {
  border-bottom: 1px dashed #888;
  height: 40px;
  width: 90%;
  margin: auto;
}
.info-table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.info-table th,
.info-table td {
  text-align: center;
  padding: 12px 10px;
  border: 1px solid #ccc;
}

.info-table th {
  width: 40%;
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

.info-table td {
  color: #150080;
  font-weight: 900;
  background-color: #fff;
}

.total-row th,
.total-row td {
  background-color: #e0f7e0;
  color: #1b5e20;
  font-size: 18px;
}
