/* عام */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #f8f9fa;
}

/* Cards إحصائية */
.card {
    border: none;
    border-radius: 15px;
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
    padding: 1rem;
}
.carde {
    font-family: sans-serif !important;
    color: white !important;
    height: 200px;
    
}
.carde h5,
.carde h3 {
    text-align: center;
    font-weight: 900 !important;
    font-size: 25px !important;
    letter-spacing: 0.5px !important;
    text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
}
h5 {
    font-weight: 700 !important;
    font-size: 25px !important;
    letter-spacing: 0.5px !important;
    text-shadow: 0px 0px 4px rgba(90, 163, 68, 1);
}
.carde h3,
.carde i {
    color: #f7f7f8;
    font-size: 37px !important;
    margin: 5px 0;
}
.cart-table {
    margin: 50px auto;
}
.data-section {
    margin-bottom: 30px !important;
}

.card i {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

/* Tables */
.table-responsive {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 26px;
    text-align: center;
}

table th,
table td {
    padding: 10px;
    vertical-align: middle;
    font-weight: 600;
    font-size: 22px;
    font-weight: 600;
}

/* Scroll داخل المودال */
.custom-modal-contente {
    max-height: 80vh;
    overflow-y: auto;
    padding: 20px;
}
/* المودال */
.custom-modale {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    max-width: 900px;
    background: white;
    z-index: 10000;
    border-radius: 15px;
    display: none;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}
/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(215, 155, 155, 0.5);
    z-index: 9999;
    display: none;
}
/* Loader */
#topLoad {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none; /* مخفي افتراضياً */

    inset: 0; /* يغطي كامل الصفحة */
    background: rgb(224, 221, 221, 0.6);
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#loading {
    /* محاذاة المحتوى في منتصف الشاشة */
    /* نص التحميل */
    font-size: 3rem;
    font-weight: bold;
    color: #3734cee1;
    font-weight: 700;
    text-shadow: 3px 5px 2px rgba(128, 0, 0, 0.69);
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* تموضع العنصر بدقة في منتصف الشاشة */
}
#loading i {
    font-size: 150px;
    margin-right: 30px;
    color: #41c72de1;
}

#adressLoading {
    display: none;
    z-index: 99999999;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.3);
    width: 50%;
    font-size: 30px;
    letter-spacing: 1px;
    color: #2233b6;
    box-shadow:
        rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.chart-group3 {
    height: 400px;
}

.jello-vertical {
    -webkit-animation: jello-vertical 1s infinite both;
    animation: jello-vertical 1s infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-11-20 0:4:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-vertical
 * ----------------------------------------
 */
@-webkit-keyframes jello-vertical {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    40% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    50% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
        transform: scale3d(0.85, 1.15, 1);
    }
    65% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    75% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes jello-vertical {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    40% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    50% {
        background-color: gold !important;
        -webkit-transform: scale3d(0.85, 1.15, 1);
        transform: scale3d(0.85, 1.15, 1);
    }
    65% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    75% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
