/* عام */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f8f9fa;
}

/* Cards إحصائية */
.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 1rem;
}

.card i {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.group-chart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

canvas {
  width: 100%;
  height: 80%;
  margin: auto;
}

/* Tables */
.table-responsive {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  text-align: center;
}

table th,
table td {
  padding: 10px;
  vertical-align: middle;
  font-weight: 600;
}

/* Scroll داخل المودال */
.custom-modal-content {
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
}

/* المودال */
.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 900px;
  background: white;
  z-index: 10000;
  border-radius: 15px;
  display: none;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

/* Loader */
#topLoad {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10000;
  justify-content: center;
  align-items: center;
}

#loading {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

/* Responsive */
@media (max-width: 1200px) {
  canva {
    width: 100%;
    height: 100%;
  }
  .chart-group {
    height: 600px !important;
  }
}

@media (max-width: 768px) {
  .card i {
    font-size: 1.5rem;
  }
  canva {
    width: 100%;
    height: 100%;
  }
  .chart-group {
    height: 300px !important;
  }
}

@media (max-width: 480px) {
  table th,
  table td {
    font-size: 14px;
    padding: 5px;
  }

  .custom-modal-content {
    padding: 10px;
  }
}
