/* عام */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f8f9fa;
}

/* Cards إحصائية */
.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 1rem;
}
.cart-table {
  margin: 50px auto;
}
.data-section {
  margin-bottom: 30px !important;
}

.card i {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

/* Tables */
.table-responsive {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 26px;
  text-align: center;
}

table th,
table td {
  padding: 10px;
  vertical-align: middle;
  font-weight: 600;
  font-size: 22px;
  font-weight: 600;
}

/* Scroll داخل المودال */
.custom-modal-content {
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
}

/* المودال */
.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 900px;
  background: white;
  z-index: 10000;
  border-radius: 15px;
  display: none;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}
/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(215, 155, 155, 0.5);
  z-index: 9999;
  display: none;
}
/* Loader */
#topLoad {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(150, 148, 156, 0.537);
  z-index: 10000;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#loading {
  font-size: 2rem;
  font-weight: bold;
  color: #d0ff00;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

