body {
    margin: 0;
    font-family: sans-serif;
}

.page {
    width: 90%;
    margin: auto;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 5px 0;
}
.logo img {
    padding: 10px;
    width: 200px;
}

.table {
    width: 97%;
    margin: 15px auto;
    border-collapse: collapse;
}

.full {
    width: 100%;
}
.half {
    width: 48%;
}
.client td {
    border: none !important;
}

th,
td {
    border: 1px solid #000;
}

th {
    background: #d8d8f5;
    font-weight: bold;
    text-align: center;
}

.titelDevis {
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    background: #d8d8f5;
    border: none;
}

.ExClient {
    text-align: center;
    background: #d8d8f5;
    font-size: 12px;
    font-weight: 500;
    border: none;
}

.label {
    font-size: 11px;
    font-weight: 600;
}
.td-info {
    font-size: 10px;
    font-weight: 400;
}

.grid th {
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    padding: 3px auto;
}
.grid td {
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    padding: 4px auto;
}

.name-client {
    max-width: 200px;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.client {
    margin-bottom: 20px;
}

.totals td {
    border: none;
    font-weight: 600;
    font-size: 11px;
    text-align: left;
}

.right {
    text-align: right;
}

.comment {
    height: 40px;
}
.footer {
    position: fixed; /* يجعل العنصر ثابتاً */
    bottom: 0; /* يثبته في أسفل الصفحة */
    width: 90%; /* يملأ عرض الصفحة */
    color: #000; /* لون النص */
    text-align: center; /* توسيط النص */
    padding: 5px; /* مسافة داخلية */
    font-weight: 600;
    z-index: -100000 !important;
}
.footer p {
    text-align: center;
    font-size: 12px;
    margin: 5px auto !important;
}

/* =============================== */
/* ACTION BUTTONS DESIGN */
/* =============================== */

.actions-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    justify-content: space-around;
    background: #add8e6;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
    border: 1px solid #000;
}

.action-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #fff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* ألوان احترافية */
.print-btn {
    background: linear-gradient(45deg, #2c3e50, #34495e);
}

.pdf-btn {
    background: linear-gradient(45deg, #c0392b, #e74c3c);
}

.scan-btn {
    background: linear-gradient(45deg, #16a085, #1abc9c);
}

.clear-btn {
    background: linear-gradient(45deg, #7f8c8d, #95a5a6);
}

/* Hover effect */
.action-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* أيقونات */
.action-btn i {
    font-size: 18px;
}

/* ============================= */
/* ARTICLE FORM SECTION */
/* ============================= */

.article-form,
.form-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    margin: 10px auto;
    padding: 20px;
    max-width: 1000px;
    border: 1px solid #000;
    border-radius: 10px;
    background: #add8e6;
    margin-bottom: 20px;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.form-info {
    display: none;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 60px;
}

.form-group.small {
    flex: 1 1 60px;
}

.form-group label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.form-group input {
    padding: 12px 20px;
    box-shadow:
        rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    height: 30px;
    border-radius: 7px;
}

.group-input {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.group-input input {
    width: 80% !important;
}

.add-btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: #0d6efd;
    color: #fff;
    border: solid 1px #000;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
    font-size: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.add-btn i {
    margin-left: 20px;
    color: #d5cbcb;
    font-size: 22px;
}

.add-btn:hover {
    background-color: #084298;
}

.container-scan {
    width: 100%;
    height: 300px;
    z-index: -9999999;
    position: fixed;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#reader {
    width: 90vw;
    max-width: 420px;
    background: black;
    border-radius: 16px;
    overflow: hidden;
    display: none;
    z-index: 1000011;
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 30px 60px,
        rgba(0, 0, 0, 0.3) 0px 15px 30px;
}
/* زر الإغلاق */
.fermer {
    position: fixed;
    top: 10%;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 38px;
    font-weight: bold;
    border: none;
    outline: none;
    display: none;
    z-index: 10001;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}
/* From Uiverse.io by Yaya12085 */
.card {
    width: 320px;
    border-width: 1px;
    border-color: rgba(219, 234, 254, 1);
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 1);
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 1rem;
    gap: 1rem;
}

.icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: rgba(96, 165, 250, 1);
    padding: 0.5rem;
    color: rgba(255, 255, 255, 1);
}

.icon svg {
    height: 1rem;
    width: 1rem;
}

.alert {
    font-weight: 600;
    color: rgba(107, 114, 128, 1);
}

.message {
    margin-top: 1rem;
    color: rgba(107, 114, 128, 1);
    text-align: center;
}

.actions {
    margin-top: 1.5rem;
}

.actions a {
    text-decoration: none;
}

.read {
    display: inline-block;
    border-radius: 0.5rem;
    width: 90%;
    padding: 0.75rem 1.25rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
}

.read {
    background-color: rgba(59, 130, 246, 1);
    color: rgba(255, 255, 255, 1);
}
.containeer {
    zoom: 1.3 !important;
}

/* Responsive */
@media (max-width: 768px) {
    .actions-container {
        flex-direction: column;
    }
    .article-form {
        display: flex !important;
        flex-direction: column;
    }

    .action-btn {
        width: 100%;
        justify-content: center;
    }

    .button-group {
        align-self: stretch;
    }

    .add-btn {
        width: 100%;
    }
}

/* ================================= */
/* PRINT MODE */
/* ================================= */
/* إخفاؤه عند الطباعة إذا رغبت */

@media print {
    @page {
        size: A4;
    }

    body {
        margin: 0;
    }

    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    .article-form,
    .actions-container,
    .containeer,
    #sup {
        display: none !important;
    }

    .page {
        width: 100% !important;
        margin: auto !important;
        box-shadow: none !important;
        border: none !important;
    }
    .grid th {
        font-size: 13px !important;
        font-weight: 700 !important;
        text-align: center !important;
        padding: 12px auto !important;
    }
    .grid td {
        font-size: 12px !important;
        font-weight: 500 !important;
        text-align: center !important;
        padding: 12px auto !important;
    }
    .footer {
        position: fixed; /* يجعل العنصر ثابتاً */
        bottom: 0; /* يثبته في أسفل الصفحة */
        width: 90%; /* يملأ عرض الصفحة */
        color: #000; /* لون النص */
        text-align: center; /* توسيط النص */
        padding: 5px; /* مسافة داخلية */
        font-weight: 600;
        z-index: -100000 !important;
    }
    .footer p {
        text-align: center;
        font-size: 12px;
        margin: 5px auto !important;
    }
}
