/* جعل الـ Modal أكبر ويمتد عرضياً */
.modal-dialog {
  max-width: 95%; /* عرض 95% من الشاشة */
  margin: 1.5rem auto; /* مسافة علوية وسفلية */
}

/* إذا كان Modal قابلاً للتمرير عمودياً */
.modal-dialog-scrollable {
  max-height: 90vh; /* ارتفاع 90% من الشاشة */
}

/* اختيارياً: تكبير حجم المحتوى داخل body */
.modal-body {
  padding: 1rem 1.5rem;
}
.card {
  background: #d1d3af83;
  box-shadow:
    rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset !important;
  margin: 20px auto;
  font-weight: 600;
  font-size: 22px;
  line-height: 35px;
}
.card img {
  width: 100%;
  heigth: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-body i {
  font-size: 27px;
  margin: 0 5px;
}
.btn {
  box-shadow:
    rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  font-size: 18px;
  font-weight: 600;
}
#searchVendeur {
  border-radius: 50px;
  border: 2px solid #0d6efd;
  transition: all 0.3s ease;
  margin: 20px auto;
}

#searchVendeur:focus {
  border-color: #198754;
  box-shadow: 0 0 10px rgba(25, 135, 84, 0.4);
}
.badge {
  letter-spacing: 1px;
  color: #ffff;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center; /* توسيط أفقي */
  font-weight: 600;
  letter-spacing: 1px;
}

table td,
table th {
  vertical-align: middle; /* توسيط عمودي */
  padding: 8px; /* مسافة بسيطة داخل الخلية */
}

/* تصميم نافذة منبثقة */
.toast {
  position: fixed;
  bottom: 20px;
  left: 20px;
  min-width: 200px;
  max-width: 550px;
  padding: 15px 20px;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 33px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 0.4s ease;
  z-index: 9999;
}

/* أنواع الرسائل */
.toast.success {
  background-color: #4caf50;
}
.toast.error {
  background-color: #f44336;
}
.toast.info {
  background-color: #2196f3;
}
.toast.warning {
  background-color: #eaa641;
}
/* عند الظهور */
.toast.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
