.containeer {
  position: fixed;
  bottom: 3em;
  right: 1em;
  z-index: 99999;
  opacity: 0.8;
}

.menu-toggle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1ef0a0;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
  display: table;
  text-align: center;
  
}
.menu-toggle .fa {
  color: #fff;
  font-size: 2em;
  display: table-cell;
  vertical-align: middle;
  transition: 0.4s;
}
.menu-toggle.open .fa {
  transform: rotate(135deg);
}

.btn-app {
  width: 2.5em !important;
  height: 2.5em !important;
  border-radius: 50%;
  position: absolute;
  background-color: #4644fd;
  color: #fff;
  text-align: center;
  margin: 5px auto;
}
.btn-app .fa {
  line-height: 2.5em;
}

.open .btn-app {
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.menu-round {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}
.menu-round .btn-app {
  bottom: 0.25em;
  right: 0.25em;
  transition: 0.4s;
}
.menu-round.open .btn-app:nth-of-type(1) {
  right: 0.5em;
  bottom: 4.25em;
  transition-delay: 0.2s;
}
.menu-round.open .btn-app:nth-of-type(2) {
  right: 3.5em;
  bottom: 3.5em;
  transition-delay: 0.1s;
}
.menu-round.open .btn-app:nth-of-type(3) {
  right: 4.25em;
  bottom: 0.5em;
}

.menu-line {
  position: absolute;
  z-index: 2;
}
.menu-line .btn-app {
  bottom: 0;
  right: 0.5em;
  transition: 0.3s;
  transition-delay: 0.5s;
}
.menu-line.open .btn-app:nth-of-type(1) {
  bottom: 4.25em;
}
.menu-line.open .btn-app:nth-of-type(1) {
  bottom: 7.25em;
}
.menu-line.open .btn-app:nth-of-type(2) {
  bottom: 10.25em;
}
.menu-line.open .btn-app:nth-of-type(3) {
  bottom: 13.25em;
}
.menu-line.open .btn-app:nth-of-type(4) {
  bottom: 16.25em;
}
.menu-line.open .btn-app:nth-of-type(5) {
  bottom: 19.25em;
}
.menu-line.open .btn-app:nth-of-type(6) {
  bottom: 22.25em;
}
.menu-line.open .btn-app:nth-of-type(7) {
  bottom: 25.25em;
}
.btn-app {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  position: absolute;
  background-color: #4644fd;
  color: #fff;
  text-align: center;
  margin: 5px auto;
  cursor: pointer;
}

/* النص عند المرور */
.btn-app::after {
  content: attr(data-label);
  position: absolute;
  right: 110%; /* النص يظهر بجانب الأيقونة */
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 0.8rem;
  padding: 5px 8px;
  border-radius: 6px;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition:
    opacity 0.3s,
    right 0.3s;
  z-index: 999999999;
}

/* عند الـ hover */
.btn-app:hover::after {
  opacity: 1;
  right: 130%;
}

@media (max-width: 576px) {
  /* كود التابلت */
  .containeer {
    zoom: 1;
  }
}
@media (max-width: 768px) {
  /* كود التابلت */
  .containeer {
    zoom: 1.2;
  }
}
@media (max-width: 992px) {
  /* كود التابلت */
  .containeer {
    zoom: 1.3;
  }
}
@media (max-width: 1200px) {
  /* كود الحواسيب */
  .containeer {
    zoom: 1.4 !important;
  }
}

/* تصميم نافذة منبثقة */
.toast {
  position: fixed;
  top: 20px;
  left: 20px;
  min-width: 200px;
  max-width: 550px;
  padding: 15px 20px;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 0.4s ease;
  z-index: 9999;
}

/* أنواع الرسائل */
.toast.success {
  background-color: #4caf50;
}
.toast.error {
  background-color: #f44336;
}
.toast.info {
  background-color: #2196f3;
}
.toast.warning {
  background-color: #eaa641;
}
/* عند الظهور */
.toast.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

/* المودال */
.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 80%;
  background: white;
  z-index: 10000;
  border-radius: 15px;
  display: none;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}
/* Scroll داخل المودال */
.custom-modal-content {
  max-height: 80vh;
  height: 80%;
  overflow-y: auto;
  padding: 20px;
}
.custom-modal-content iframe {
  width: 100%;
  height: 100%;
}
