body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f4f9;
    padding: 40px;
    color: #333;
}

.search-box {
    max-width: 500px;
    margin: 0 auto;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.search-box input {
    width: 100%;
    padding: 14px 50px 14px 14px; /* مكان للزر على اليمين */
    margin: 0 auto;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.5px;
    box-shadow:
        rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.search-box input:focus {
    border-color: #0099ff;
    box-shadow: 0 0 10px #0099ff44;
}

/* زر Paste */
#pasteBtn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: #0099ff;
    color: #fff;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

#pasteBtn:hover {
    background: #007acc;
}

input:focus {
    border-color: #0099ff;
    box-shadow: 0 0 10px #0099ff44;
}

.results {
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}
.item {
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    gap: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
    align-items: center;
    transition: transform 0.2s;
}

.item:hover {
    transform: scale(1.02);
}

.item img {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    box-shadow:
        rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background: #fafafa;
    object-fit: contain;
    cursor: pointer;
}

.info {
    flex: 1;
}

/* Alert جذاب */
.alert {
    padding: 8px 12px;
    border-radius: 6px;
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: 19px;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.alert.success {
    background: #0a8f2f;
    color: #fff;
    font-weight: 800;
}

.alert.error {
    background: #e00000;
    color: #fff;
    font-weight: 800;
}

/* Pagination */
.pagination {
    text-align: center;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

.pagination button {
    background: #fff;
    border: 1px solid #ccc;
    padding: 8px 12px;
    margin: 0 3px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 900;
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.pagination button.active {
    background: #0099ff;
    color: #fff;
    border-color: #0099ff;
}

.pagination button:hover:not(.active) {
    background: #eee;
}

/* زر لصق جميل */
.paste-btn {
    position: absolute;
    right: 8px;
    top: 7px;
    background: #008cff;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.paste-btn:hover {
    background: #006dd4;
}

.title {
    font-weight: bold;
    color: #333;
    font-weight: 800;
}

.price {
    font-size: 15px;
    color: #0a7f1f;
    margin-top: 5px;
}
.desc {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}
.anpf {
    color: #2ac92a;
    font-size: 15px;
    margin-top: 8px;
    font-weight: 800;
}
.source {
    color: #c9922a;
    font-size: 14px;
    margin-top: 8px;
}

/* Overlay تكبير الصورة */
#imageOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#imageOverlay img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 12px;
    box-shadow: 0 0 20px #000;
}

#imageOverlay button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.backendImg {
    width: 80vw;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    z-index: -10;
}

@media only screen and (min-width: 358px) and (max-width: 599px) {
    body {
        zoom: 0.9;
    }
    .containeer {
        zoom: 1.5 !important;
    }
}

@media only screen and (min-width: 599px) and (max-width: 990px) {
}
@media only screen and (min-width: 1020px) {
}
