@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

:root {
    --background: #4285f4;
    --icon-color: #344955;
    --width: 50px;
    --height: 50px;
    --border-radius: 100%;
}

body {
    min-height: 100vh;
    font-family: "Lexend Deca", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
}

.wrapper {
    width: var(--width);
    height: var(--height);
    position: fixed;
    right: 8%;
    bottom: 15%;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    z-index: 9999;
}

.wrapper .fab {
    background: var(--background);
    width: var(--width);
    height: var(--height);
    position: relative;
    z-index: 3;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fab-animation-reverse 0.4s ease-out forwards;
    gap: 30px;
}

.wrapper .fab::before,
.wrapper .fab::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4px;
    background: #fff;
}

.wrapper .fab::before {
    width: 4px;
    height: 18px;
}

.wrapper .fab::after {
    width: 18px;
    height: 4px;
}

.wrapper .fac {
    width: 32px;
    height: 200px;
    border-radius: 64px;
    position: absolute;
    background: #fff;
    z-index: 2;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 0;
    top: -1100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition:
        opacity 0.2s ease-in,
        top 0.2s ease-in,
        width 0.1s ease-in;
        zoom: 1.2;
    gap: 10px;
    /*&::after {
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: -8px;
    transform: rotate(45deg);
    z-index: 0;
  }*/
}

.wrapper .fac a {
    color: var(--icon-color);
    opacity: 0.8;
}

.wrapper .fac a:hover {
    transition: 0.2s;
    opacity: 1;
    color: #30444f;
}

.wrapper input {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    cursor: pointer;
    position: absolute;
    z-index: 5;
    opacity: 0;
}

.wrapper input:checked ~ .fab {
    animation: fab-animation 0.4s ease-out forwards;
}

.wrapper input:checked ~ .fac {
    width: 32px;
    height: 200px;
    animation: fac-animation 0.4s ease-out forwards 0.1s;
    top: -220px;
    opacity: 1;
}
/* style ticket css  */

.ticket {
    width: 85%;
    background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
        radial-gradient(
            91% 146%,
            rgba(255, 255, 255, 0.5) 47%,
            rgba(0, 0, 0, 0.5) 100%
        );
    background-blend-mode: screen;
    padding: 20px;
    font-family: "Merriweather", serif;
    color: var(--text-color);
    border-radius: 10px;
    box-shadow:
        rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    zoom: 0.9;
}

.ticket h4 {
    text-align: center;
    margin-bottom: 10px;
    line-height: 2rem;
    letter-spacing: 0.8px;
    font-weight: 900;
    color: #a152dc;
}

.ticket h4 span {
    color: #000;
    font-size: 15px;
    margin-right: 10px;
    text-align: left;
    letter-spacing: 1px;
    font-weight: 700;
}

.ticket .date {
    text-align: center;
    font-size: 12px;
    margin: 15px auto;
}

.ticket .items {
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    padding: 10px 0;
}

.ticket .items div {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 15px;
}

.i1 {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    width: 30%;
    text-align: center;
    align-items: center;
    color: #001;
    border-radius: 5px;
    border: solid 1px #b28fe1;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.i2 {
    background: #404040;
    width: 15%;
    text-align: center;
    align-items: center;
    color: #fff;
}

.i3 {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    width: 55%;
    text-align: center;
    align-items: center;
    color: #9400d3;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.i1,
.i2,
.i3 {
    padding: 4px 0;
    font-weight: 700;
    letter-spacing: 1px;
}
.ticket .i4 {
    background: #0000cd !important;
    box-shadow:
        #e6ce76 0px 2px 4px,
        #e6ce76 0px 7px 13px -3px,
        #e6ce76 0px -3px 0px inset;
    color: #fff;
    font-size: 20px;
    margin: 10px auto;
    width: 40%;
    padding: 10px;
    letter-spacing: 2px;
}
.ticket .total {
    margin-top: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket .footer,
.ticket .date {
    text-align: center;
    margin: 20px auto;
    padding: 3px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    background-color: #0000cd;
    color: #fff;
    width: fit-content;
}

/* style css code input search */
/* From Uiverse.io by vinodjangid07 */
.input-wrapper {
    width: fit-content;
    height: 45px;
    border-radius: 20px;
    padding: 5px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    background-color: #c0c0c0;
    position: absolute;
    top: 5%;
    box-shadow:
        rgba(0, 0, 0, 0.09) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.icon {
    width: 30px;
    fill: rgb(255, 255, 255);
    margin-left: 8px;
    transition: all 0.3s;
    color: #000;
    font-size: 30px;
}

.input {
    max-width: 170px;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 15px;
    background-color: #c0c0c0;
    color: white;
    font-size: 0.9em;
    letter-spacing: 2px;
}

.input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #c0c0c0 inset;
    -webkit-text-fill-color: #ffffff;
}

.Subscribe-btn {
    height: 100%;
    width: 95px;
    border: none;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background-color: #ffffff;
    font-weight: 500;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s;
}

.arrow {
    /* display: none; */
    position: absolute;
    margin-right: 150px;
    transition: all 0.3s;
}

.input-wrapper:active .icon {
    transform: scale(1.3);
}

.Subscribe-btn:hover {
    color: white;
}

.Subscribe-btn:hover .arrow {
    margin-right: 0;
    animation: jello-vertical 0.9s both;
    transform-origin: right;
}

@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.Subscribe-btn:active {
    transform: scale(0.9);
}

#reader {
    position: absolute;
    top: 50px;
    width: 300px;
    display: none;
    margin-bottom: 0;
    box-shadow:
        rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: dashed solid #4285f4;
    z-index: 999;
}

.fermer {
    background: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
    border: none;
    font-size: 25px;
    color: #fff;
    font-weight: 900;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: absolute;
    top: 25%;
    right: 12%;
    display: none;
    z-index: 1000;
}

img {
    width: 70%;
    height: 50%;
    position: absolute;
    opacity: 0.5;
    z-index: -10;
}

.active {
    display: block;
}
.modal-message {
    display: none; /* مخفي افتراضياً */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal-content-message {
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    text-align: center;
    max-width: 300px;
    font-family: Arial, sans-serif;
}
#modalCloseBtn {
    margin-top: 15px;
    padding: 8px 15px;
    background-color: #4f81bd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#modalCloseBtn:hover {
    background-color: #3a5a8a;
}
