<!doctype html>
<html lang="ar">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />
        <title>Mr-jo Balisage</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
            rel="stylesheet"
        />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
        <script src="https://unpkg.com/html5-qrcode"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.6/dist/JsBarcode.all.min.js"></script>
        <link rel="stylesheet" href="/css/balisage.css" />
        <link rel="stylesheet" href="/css/navb.css" />
    </head>

    <body>
        <div class="container-scan">
            <button class="fermer">X</button>
            <div id="reader"></div>
        </div>
        <div class="container">
            <section class="actions-container">
                <button class="action-btn pdf-btn" onclick="downloadPDF()">
                    <i class="bi bi-file-earmark-pdf-fill"></i>
                    <span>Télécharger PDF</span>
                </button>

                <button class="action-btn scan-btn" id="scaner">
                    <i class="bi bi-upc-scan"></i>
                    <span>Scanner</span>
                </button>

                <button class="action-btn clear-btn" onclick="clearCards()">
                    <i class="bi bi-trash-fill"></i>
                    <span>Vider panier</span>
                </button>
            </section>
            <section class="article-form">
                <div class="form-group">
                    <label>Code article</label>
                    <input
                        type="number"
                        placeholder="Entrer code article"
                        id="code"
                        class="Ref"
                    />
                </div>
                <div class="form-group button-group">
                    <button
                        id="btnRecherche"
                        onclick="getProduit()"
                        class="add-btn"
                        style="background: #ff0000a7"
                    >
                        Recharche <i class="bi bi-search"></i>
                    </button>
                </div>
            </section>
            <!-- ARTICLE FORM SECTION -->
            <section class="form-info form">
                <div class="group-input">
                    <div class="form-group">
                        <label>GenCode</label>
                        <input
                            id="barcode"
                            type="number"
                            placeholder="Entrer code article"
                        />
                    </div>

                    <div class="form-group">
                        <label>Libelle</label>
                        <input
                            id="title"
                            type="text"
                            placeholder="Entrer libelle"
                        />
                    </div>
                </div>
                <div class="group-input">
                    <div class="form-group small">
                        <label>Anpf</label>
                        <input id="Anpf" type="number" placeholder="0" />
                    </div>
                    <div class="form-group small">
                        <label>Prix</label>
                        <input id="price" type="number" placeholder="0" />
                    </div>
                    <div class="form-group small">
                        <label>Qté</label>
                        <input id="repetition" type="number" value="1" />
                    </div>
                </div>

                <div class="form-group button-group">
                    <button class="add-btn" onclick="addCard()">
                        Ajouter <i class="bi bi-file-earmark-plus"></i>
                    </button>
                </div>
            </section>

            <div id="reader"></div>

            <div class="cards" id="cards"></div>
            <div id="pagination">
                <button onclick="prevPage()">⬅ السابق</button>
                <span id="pageInfo"></span>
                <button onclick="nextPage()">التالي ➡</button>
            </div>
        </div>
        <!-- From Uiverse.io by Yaya12085 -->
        <div class="card-alert">
            <div class="header">
                <span class="icon">
                    <svg
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            clip-rule="evenodd"
                            d="M18 3a1 1 0 00-1.447-.894L8.763 6H5a3 3 0 000 6h.28l1.771 5.316A1 1 0 008 18h1a1 1 0 001-1v-4.382l6.553 3.276A1 1 0 0018 15V3z"
                            fill-rule="evenodd"
                        ></path>
                    </svg>
                </span>
                <p class="alert">New message!</p>
            </div>
            <p class="message">🛍️ لم يتم العثور على المنتج</p>
            <div class="actions">
                <a class="read" href=""> حسنا </a>
            </div>
        </div>
        <div class="containeer">
            <div class="menu-toggle">
                <span class="fa fa-plus"></span>
            </div>
            <div class="menu-round">
                <div class="btn-app" data-label="Lecteur Prix">
                    <div class="fa">
                        <a href="/prixVen"
                            ><i
                                class="fa-solid fa-circle-left"
                                style="color: white"
                            ></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="menu-line">
                <div class="btn-app" data-label="affiche A4">
                    <a href="afficheA4"></a>
                    <div class="fa">
                        <a href="afficheA4"
                            ><i class="fa-solid fa-a" style="color: white"
                                ><span style="font-size: 12px">4</span></i
                            ></a
                        >
                    </div>
                </div>
                <div class="btn-app" data-label="affiche A5">
                    <div class="fa">
                        <a href="afficheA5"
                            ><i class="fa-solid fa-a" style="color: white"
                                ><span style="font-size: 12px">5</span></i
                            ></a
                        >
                    </div>
                </div>
                <div class="btn-app" data-label="affiche A6">
                    <a href="afficheA6"></a>
                    <div class="fa">
                        <a href="afficheA6"
                            ><i class="fa-solid fa-a" style="color: white"
                                ><span style="font-size: 12px">6</span></i
                            ></a
                        >
                    </div>
                </div>
                <div class="btn-app" data-label="affiche A7">
                    <a href="afficheA7"></a>
                    <div class="fa">
                        <a href="afficheA7"
                            ><i class="fa-solid fa-a" style="color: white"
                                ><span style="font-size: 12px">7</span></i
                            ></a
                        >
                    </div>
                </div>
                <div class="btn-app" data-label="Balisage ">
                    <a href="balisage"></a>
                    <div class="fa">
                        <a href="balisage"
                            ><i class="fa-solid fa-b" style="color: white"
                                ><span style="font-size: 12px">S</span></i
                            ></a
                        >
                    </div>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/svg2pdf.js"></script>
        <script src="js/codebar.min.js"></script>
        <script src="/js/balisage.js"></script>
    </body>
</html>
