<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=600"
    />
    <link
      rel="manifest"
      href="/manifest.json"
    />
    <meta
      name="theme-color"
      content="#007bff"
    />
    <title>Devis</title>
    <link
      rel="stylesheet"
      href="css/Devis.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/navb.css"
    />
    <!-- ===== Boxicons CSS ===== -->
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- ===== Boxicons CSS ===== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script
      src="https://kit.fontawesome.com/fb67a05d46.js"
      crossorigin="anonymous"
    ></script>
    <!-- مكتبة html2pdf -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
  </head>
  <body>
    <div class="header">
      <img
        class="logo"
        src="https://i.postimg.cc/PxycCz7d/Photoroom-20250826-153121.png"
        alt="Logo devis"
        crossorigin="anonymous"
      />
      <div class="info">
        <label for="devi">Nom Devis :</label>
        <input
          type="text"
          placeholder="Entre Le Nom De Devis"
        />
        <p id="date">MARRAKECH LE :</p>
      </div>
      <p>Nous avons le plaisir de vous faire parvenir notre offre de prix :</p>
    </div>

    <table id="devisTable">
      <thead>
        <tr>
          <th>Désignation</th>
          <th>GenCode</th>
          <th>Qté</th>
          <th>P.U TTC</th>
          <th>Total TTC</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Parquet mm</td>
          <td>
            <input
              type="number"
              class="codeProduit"
            />
          </td>
          <td>
            <input
              type="number"
              class="qte"
              min="0"
            />
          </td>
          <td>
            <input
              type="number"
              class="prixProduit"
            />
          </td>
          <td class="total"></td>
        </tr>
        <tr>
          <td>Mousse</td>
          <td>
            <input
              type="number"
              class="codeProduit"
            />
          </td>
          <td>
            <input
              type="number"
              class="qte"
              min="0"
            />
          </td>
          <td>
            <input
              type="number"
              class="prixProduit"
            />
          </td>
          <td class="total"></td>
        </tr>
        <tr>
          <td>Plinthe 2.23 m</td>
          <td>
            <input
              type="number"
              class="codeProduit"
            />
          </td>
          <td>
            <input
              type="number"
              class="qte"
              min="0"
            />
          </td>
          <td>
            <input
              type="number"
              class="prixProduit"
            />
          </td>
          <td class="total"></td>
        </tr>
        <tr>
          <td>Joint bombé 2.70 m</td>
          <td>
            <input
              type="number"
              class="codeProduit"
            />
          </td>
          <td>
            <input
              type="number"
              class="qte"
              min="0"
            />
          </td>
          <td>
            <input
              type="number"
              class="prixProduit"
            />
          </td>
          <td class="total"></td>
        </tr>
        <tr>
          <td>Joint bombé 0.90 m</td>
          <td>
            <input
              type="number"
              class="codeProduit"
            />
          </td>
          <td>
            <input
              type="number"
              class="qte"
              min="0"
            />
          </td>
          <td>
            <input
              type="number"
              class="prixProduit"
            />
          </td>
          <td class="total"></td>
        </tr>
        <tr>
          <td>Joint plat 2.70 m</td>
          <td>
            <input
              type="number"
              class="codeProduit"
            />
          </td>
          <td>
            <input
              type="number"
              class="qte"
              min="0"
            />
          </td>
          <td>
            <input
              type="number"
              class="prixProduit"
            />
          </td>
          <td class="total"></td>
        </tr>
        <tr>
          <td>Joint plat 0.90 m</td>
          <td>
            <input
              type="number"
              class="codeProduit"
            />
          </td>
          <td>
            <input
              type="number"
              class="qte"
              min="0"
            />
          </td>
          <td>
            <input
              type="number"
              class="prixProduit"
            />
          </td>
          <td class="total"></td>
        </tr>
        <tr>
          <td>Cornière parquet 2.70 m</td>
          <td>
            <input
              type="number"
              class="codeProduit"
            />
          </td>
          <td>
            <input
              type="number"
              class="qte"
              min="0"
            />
          </td>
          <td>
            <input
              type="number"
              class="prixProduit"
            />
          </td>
          <td class="total"></td>
        </tr>
        <tr>
          <td>Cornière parquet 1.35 m</td>
          <td>
            <input
              type="number"
              class="codeProduit"
            />
          </td>
          <td>
            <input
              type="number"
              class="qte"
              min="0"
            />
          </td>
          <td>
            <input
              type="number"
              class="prixProduit"
            />
          </td>
          <td class="total"></td>
        </tr>
        <tr>
          <td>Silicone finition</td>
          <td>
            <input
              type="number"
              class="codeProduit"
            />
          </td>
          <td>
            <input
              type="number"
              class="qte"
              min="0"
            />
          </td>
          <td>
            <input
              type="number"
              class="prixProduit"
            />
          </td>
          <td class="total"></td>
        </tr>
        <tr>
          <td>Pose parquet</td>
          <td>
            <input
              type="number"
              class="codeProduit"
              value="2000007821897"
            />
          </td>
          <td>
            <input
              type="number"
              class="qte"
              min="0"
            />
          </td>
          <td>
            <input
              type="number"
              class="prixProduit"
              value="30"
            />
          </td>
          <td class="total"></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td
            colspan="4"
            style="text-align: center; font-weight: bold"
          >
            TOTAL H.T
          </td>
          <td id="ht">__________</td>
        </tr>
        <tr>
          <td
            colspan="4"
            style="text-align: center; font-weight: bold"
          >
            T.V.A 20%
          </td>
          <td id="tva">__________</td>
        </tr>
        <tr>
          <td
            colspan="4"
            style="text-align: center; font-weight: bold"
          >
            TOTAL T.T.C
          </td>
          <td id="net">__________</td>
        </tr>
      </tfoot>
    </table>

    <div class="footer">
      <p>Vous en souhaitant bonne réception, et dans l’attente ...</p>
      <p>Nb :</p>
      <p>Mettez vos chèques à l’ordre de <strong>brico-invest</strong></p>
      <p>Tel : 05-25-060-241/240 | Fax : 05-24-29-18-87</p>
    </div>

    <button
      class="btn btn-print"
      onclick="window.print()"
    >
      🖨️ Imprimer
    </button>
    <button
      class="btn btn-pdf"
      onclick="downloadPDF()"
    >
      📥 Télécharger PDF
    </button>
    <button onclick="clearLocalStorage()">🗑️ مسح البيانات</button>
    <!--nav FAB Button -->
    <div
      class="containeer"
      style="zoom: 1.4"
    >
      <div class="menu-toggle">
        <span class="fa fa-plus"></span>
      </div>

      <div class="menu-round">
        <div class="btn-app">
          <div class="fa">
            <a href="calc"
              ><i
                class="fas fa-calculator"
                style="color: white"
              ></i
            ></a>
          </div>
        </div>
        <div class="btn-app">
          <div class="fa">
            <a href="Album"
              ><i
                class="fas fa-file-image"
                style="color: white"
              ></i
            ></a>
          </div>
        </div>
        <div class="btn-app">
          <div class="fa">
            <a href="logout"
              ><i
                class="fas fa-sign-out-alt"
                style="color: white"
              ></i
            ></a>
          </div>
        </div>
      </div>

      <div class="menu-line">
        <div class="btn-app">
          <div class="fa">
            <a href="devis"
              ><i
                class="fas fa-file-invoice"
                style="color: white"
              ></i
            ></a>
          </div>
        </div>
        <div class="btn-app">
          <div class="fa">
            <a href="table"
              ><i
                class="fas fa-search"
                style="color: white"
              ></i
            ></a>
          </div>
        </div>
        <div class="btn-app">
          <div class="fa">
            <a href="inventaire"
              ><i
                class="far fa-file-excel"
                style="color: white"
              ></i
            ></a>
          </div>
        </div>
        <div class="btn-app">
          <div class="fa">
            <a href="serchCode"
              ><i
                class="fas fa-question-circle"
                style="color: white"
              ></i>
            </a>
          </div>
        </div>
        <div class="btn-app">
          <div class="fa">
            <a href="prixVen"
              ><i
                class="fas fa-cash-register"
                style="color: white"
              ></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--fin FAB Button -->

    <script
      src="js/Devis.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script src="js/main2.js"></script>
  </body>
</html>
