<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="manifest"
      href="/manifest.json"
    />
    <meta
      name="theme-color"
      content="#007bff"
    />
    <title>Gestion des Produits</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <script src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>
    <!-- ===== Boxicons CSS ===== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script
      src="https://kit.fontawesome.com/fb67a05d46.js"
      crossorigin="anonymous"
    ></script>

    <!-- ===== CSS ===== -->
    <link
      rel="stylesheet"
      href="css/search.css"
    />
    <link
      rel="stylesheet"
      href="css/navb.css"
    />
  </head>
  <body>
    <!-- مكان الرسائل -->
    <div
      id="toast"
      class="toast"
    ></div>
    <h1>Gestion des Produits</h1>
    <div class="search-bar">
      <input
        id="textSearch"
        type="number"
        name="text"
        placeholder="Rechercher un produit..."
      />
      <button
        class="bb"
        id="searchBtn"
      >
        <i class="fa fa-search"></i> Rechercher
      </button>
      <button
        class="bb"
        id="scanBtn"
      >
        <i class="fa fa-qrcode"></i> Scanner
      </button>
      <button
        class="bb"
        id="plus"
      >
        <i class="fa fa-plus"></i> new produit
      </button>
    </div>
    <div
      id="reader"
      style="width: 300px; height: 300px; display: none; margin-top: 15px"
    ></div>
    <div
      class="form-container"
      id="productForm"
      style="display: none"
    >
      <div class="form-group">
        <label for="libelle">Libellé</label>
        <input
          readonly
          type="text"
          id="libelle"
          placeholder="Libellé"
          required
        />
      </div>
      <div class="form-group">
        <label for="gencode">GenCode</label>
        <input
          readonly
          type="number"
          id="gencode"
          placeholder="GenCode"
          required
        />
      </div>
      <div class="form-group">
        <label for="anpf">ANPF</label>
        <input
          readonly
          type="number"
          id="anpf"
          placeholder="ANPF"
          required
        />
      </div>
      <div class="form-group">
        <label for="fournisseur">Fournisseur</label>
        <input
          readonly
          type="text"
          id="fournisseur"
          placeholder="Fournisseur"
          required
        />
      </div>
      <div
        class="form-group"
        style="display: none"
      >
        <label for="stock">Stock</label>
        <input
          readonly
          type="text"
          id="stock"
          placeholder="Stock"
          required
        />
      </div>
      <div class="form-group">
        <label for="prix">Prix TTC</label>
        <input
          readonly
          type="text"
          id="prix"
          placeholder="Prix TTC"
          required
        />
      </div>
      <div class="form-group">
        <label for="qteInven">Quantité</label>
        <input
          type="number"
          id="qteInven"
          placeholder="Quantité"
          class="infor"
        />
      </div>
      <div class="form-group">
        <label for="adresse">Adresse</label>
        <input
          type="text"
          id="adresse"
          placeholder="Adresse"
          class="infor"
        />
      </div>
      <button id="ajouterBtn"><i class="fa fa-plus"></i> Ajouter au tableau</button>
    </div>
    <div class="form-container">
      <input
        type="text"
        id="nomFichier"
        placeholder="Nom du fichier..."
      />
      <button
        class="bb"
        onclick="exportToExcel()"
      >
        <i class="fa fa-file-excel"></i> Exporter en Excel
      </button>
      <button
        class="bb"
        onclick="window.print()"
      >
        <i class="fa fa-print"></i> Imprimer
      </button>
      <button
        class="btnRed"
        onclick="clearTable()"
      >
        <i class="fa fa-trash"></i> Vider
      </button>
    </div>
    <div class="search-bar">
      <input
        id="searchLocalStorage"
        type="text"
        name="text"
        placeholder="Rechercher un produit..."
      />
    </div>
    <table id="produitTable">
      <thead></thead>
      <tbody></tbody>
    </table>

    <!--nav FAB Button -->
    <div class="containeer">
      <div class="menu-toggle">
        <span class="fa fa-plus"></span>
      </div>
      <div class="menu-round">
        <div
          class="btn-app"
          data-label="Album"
        >
          <div class="fa">
            <a href="galerie"
              ><i
                class="fas fa-file-image"
                style="color: white"
              ></i
            ></a>
          </div>
        </div>
        <div
          class="btn-app"
          data-label="mis à jour Data"
          id="upload"
        >
          <div class="fa">
            <a href="upload">
              <i
                class="fas fa-file-arrow-up"
                style="color: white"
              ></i
            ></a>
          </div>
        </div>
        <div
          class="btn-app"
          data-label="Déconnexion"
        >
          <div class="fa">
            <a href="logout"
              ><i
                class="fas fa-sign-out-alt"
                style="color: white"
              ></i
            ></a>
          </div>
        </div>
      </div>

      <div class="menu-line">
        <div
          class="btn-app"
          data-label="Recherche Produits"
        >
          <div class="fa">
            <a href="CHERCHER"
              ><i
                class="fas fa-search"
                style="color: white"
              ></i
            ></a>
          </div>
        </div>
        <div
          class="btn-app"
          data-label="dashboard Inventaire"
        >
          <div class="fa">
            <a href="/dashboard"
              ><i
                class="fa-solid fa-chart-line"
                style="color: white"
              ></i>
            </a>
          </div>
        </div>
        <div
          class="btn-app"
          data-label="Prix Vente"
        >
          <div class="fa">
            <a href="prix"
              ><i
                class="fas fa-cash-register"
                style="color: white"
              ></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--fin FAB Button -->
    <div
      id="confirmModal"
      class="modal"
    >
      <div class="modal-content">
        <p>هل أنت متأكد أنك تريد حذف هذا المنتج؟</p>
        <div class="modal-actions">
          <button
            id="confirmYes"
            class="btn btn-danger"
          >
            نعم
          </button>
          <button
            id="confirmNo"
            class="btn btn-secondary"
          >
            إلغاء
          </button>
        </div>
      </div>
    </div>

    <!-- Loader -->
    <!-- From Uiverse.io by paesjr -->
    <div id="wifi-loader">
      <svg
        viewBox="0 0 86 86"
        class="circle-outer"
      >
        <circle
          r="40"
          cy="43"
          cx="43"
          class="back"
        ></circle>
        <circle
          r="40"
          cy="43"
          cx="43"
          class="front"
        ></circle>
        <circle
          r="40"
          cy="43"
          cx="43"
          class="new"
        ></circle>
      </svg>
      <svg
        viewBox="0 0 60 60"
        class="circle-middle"
      >
        <circle
          r="27"
          cy="30"
          cx="30"
          class="back"
        ></circle>
        <circle
          r="27"
          cy="30"
          cx="30"
          class="front"
        ></circle>
      </svg>

      <div
        data-text="Loading..."
        class="text"
      ></div>
    </div>

    <!--- ______fin code nav bar_________  -->

    <script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="js/codebar.min.js"></script>
    <script src="js/search.js"></script>
    <script src="js/main2.js"></script>
  </body>
</html>
